@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-size: 24px;
}
.follow-us {
  width: 100vw;
  height: 650px;
  background-image: url(../img/follow-us/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
}

@media screen and (max-width: 450px) {
  .follow-us {
    background-position: left;
  }
}
.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .follow p a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
  }
}
.follow > p:nth-child(1) {
  padding: 70px 0 50px 0;
  color: #ff4b32;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.follow > h3:nth-child(2) {
  padding: 20px 0 30px 0;
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.9em;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.follow > p:nth-child(1n + 2) {
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nav-follow-us {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.nav-follow-us a {
  width: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .follow-us {
    font-size: 15px;
    flex-direction: column;
    width: 100%;
    height: 500px;
  }
}
