@media screen and (max-width:400px ) {
    .follow-us{
        font-size:15px ;
        flex-direction: column;
        width: 100%;
        height:500px ;
    }
    .follow-img-1{
        margin: 0;
    }
    .follow-img-2{
        margin-top: 5px;
    }
}