@media screen and (max-width: 600px) {

    .update-news {
        margin: 30px 30px;
    }

    .news-update h3 {
        font-size: 25px
    }

    .news-update p {
        font-size: 15px
    }

    .area-update-news {
        display: flex;
        justify-content: space-around;
        font-size: 13px;
       margin: 0 5px 0 5px;
    }

    .update-img {
        width: 150px;
        height: 280px;
    }

    .update-img > img {
        width: 150px;
        height: 150px;

    }

    .update-text {
        margin: 10px 10px;
    }
}
