@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-size: 24px;
}
.update-news {
    margin: 140px 0;
}
.news-update{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.news-update h3{
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.news-update p{
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
}
.area-update-news{
    margin:0 144px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.update-img{
    width: 362px;
    height: 536px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}
.update-text{
    margin:30px 30px;
}
.update-text h3{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.update-text p:nth-child(2){
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
}
.update-text p:nth-child(3){
    margin-top: 20px;
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

